<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Daily tracker for personal well-being" />
    <meta name="theme-color" content="#000" />
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <link rel="icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <style>
      body {
        background-color: black;
      }
    </style>
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main"></body>
</html>
