.activity {
  max-width: 66%;
  display: inline-flex;
  padding: 0.25rem;
  text-align: center;
  align-items: flex-start;
  user-select: none;
}
.emoji {
  display: inline-block;
  position: relative;
  margin: 0rem 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.activity-detail-number {
  display: inline-flex;
  position: absolute;
  right: -0.375rem;
  bottom: -0.375rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  color: var(--background-color);
  background-color: var(--color);
  font-size: 0.75rem;
  line-height: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.activity-detail-list {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  user-select: text;
}
.activity-narrow {
  flex-flow: column;
}
.activity-name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow-wrap: break-word;
}
