.grid-controls {
  text-align: center;
}
.search-button {
  width: 0.5rem;
}
.search-box {
  background-color: rgba(0, 0, 0, 1);
}
.group-header {
  text-transform: uppercase;
  opacity: 0.6;
}
.disabled {
  background-image: radial-gradient(
    var(--contrast),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}
.clickable {
  cursor: pointer;
  margin: 0.25rem;
  border: rgba(255, 255, 255, 0) 3px solid;
}
.grid-button {
  padding: 0.5rem;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
}
.selected-item {
  border: var(--primary) 3px solid;
  border-radius: 12px;
}
.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 99;
  opacity: 0.4;
}
.selectedActivity * {
  z-index: 100;
}
.popover {
  background-color: var(--primary);
  left: calc(50% - 5rem);
  padding: 4px;
  position: absolute;
  top: 4.4rem;
  width: 10rem;
  z-index: 99;
  border-radius: 16px;
}
.up-arrow {
  display: inline-block;
  padding: 6px;
  position: absolute;
  top: -0.3rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  left: calc(50% - 6px);
  background-color: var(--primary);
}
