.activity-detail-prompt-input {
  display: inline-block;
  vertical-align: top;
}
.width-64 {
  width: 16rem;
}
.width-12 {
  width: 3rem;
}
.stats-block {
  display: flex;
}
.stats-column {
  display: inline-block;
  width: 50%;
  user-select: none;
}
.stats-entry {
  padding: 0.75rem;
  cursor: pointer;
}
.stats-entry-datapoint {
  display: inline-flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  color: var(--contrast-inverse);
  background-color: var(--contrast);
  font-size: 0.75rem;
  line-height: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
