.activity-info-header{
  display: flex;
}
.activity-info-recent {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.activity-info-recent-date {
  display: inline-flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  color: var(--background-color);
  background-color: var(--color);
  font-size: 0.75rem;
  line-height: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-color: #000000;
}
.stats-block {
  display: flex;
}
.stats-column {
  display: inline-block;
  width: 50%;
  user-select: none;
}
.stats-entry {
  padding: 0.75rem;
  cursor: pointer;
}
.stats-entry-datapoint {
  display: inline-flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  color: var(--background-color);
  background-color: var(--color);
  font-size: 0.75rem;
  line-height: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-color: #000000;
}
