.import-input {
  color: rgba(0, 0, 0, 1);
}
.mood-mappings,
.activity-mappings {
  display: inline-block;
  padding: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
  background-color: rgba(30, 41, 59, 1);
}

.import-entry {
  margin-bottom: 0.75rem;
}
