.search-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--background-color);
}
.search-entries-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
