.activeMood {
  font-size: 36px;
  opacity: 1;
}

.inactiveMood {
  font-size: 28px;
  opacity: .6;
  cursor: pointer;
}

.mood {
  font-size: 28px;
  cursor: pointer;
}

activity {
  display: inline-block;
  vertical-align: top;
}

.activityEmoji {
  font-size: 28px;
  text-align: center;
  padding: 5px;
}

.activityName {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.badge {
  display: inline-block;
  background-color: black;
  border-radius: 16px;
  width: 16px;
  text-align: center;
  color: white;
  font-size: 10px;
  margin: 2px;
}

.entry {
  border: black 1px dashed;
  margin: 20px;
  padding: 20px;
}

.entryNote {
  white-space: pre-wrap;
  padding-bottom: 20px;
}

.cursor {
  cursor: pointer;
}

.menuItem {
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menuItem>a:link, .menuItem>a:visited {
  text-decoration: none;
  color: black;
}

.menuItem>a:active, .menuItem>a:hover {
  text-decoration: none;
  color: gray;
}

.menuContainer {
  display: flex;
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  clear: both;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.newButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  border-radius: 20px;
  border: 1px grey solid;
  padding: 10px;
}

.archived {
  filter: grayscale(100%);
}

.edit-footer {
  position: sticky;
  bottom: 0;
  padding: 5px;
  background-color: whitesmoke;
  text-align: center;
}

ux-dialog-overlay.active {
  background-color: black;
  opacity: .8;
}

ux-dialog textarea {
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
}

.edit-icon {
  right: 5px;
  top: 5px;
  font-style: normal;
  filter: grayscale(100%);
  position: absolute;
}

.note-edit {
  border: black 1px dashed;
  padding: 8px;
  margin: 8px;
  padding-right: 28px;
  position: relative;
  max-height: 100px;
  overflow: scroll;
}

.category-header {
  margin-top: 5px;
  font-weight: bold;
}

.note {
  padding: 8px;
  margin: 8px;
  font-style: italic;
  white-space: pre-wrap;
}

.activity-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.event {
  position: absolute;
  width: 10px;
  height: 3px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 5px);
  content: " ";
  display: block;
  background: #3d8eb9;
}

.related-entry-list {
  height: 100px;
  overflow: scroll;
}

.month-picker .flatpickr-innerContainer {
  display: none;
}

.month-picker .flatpickr-calendar {
  width: 100%;
}

input:not([type=checkbox]), label {
  padding: 5px;
  margin: 5px;
  width: 100px;
}

select, button {
  padding: 5px;
  margin: 5px;
}

button {
  min-width: 80px;
}

.edit-activity-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}