.flatpickr-day {
  height: 48px;
  line-height: revert;
}
.calendar-event {
  position: absolute;
  bottom: 0.125rem;
  left: 0.75rem;
  background-color: rgba(96, 165, 250, 1);
  width: 0.75rem;
  height: 0.25rem;
  border-radius: 9999px;
}
dialog {
  background-color: var(--background-color);
  color: var(--color);
  
}

.floating-button {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 50;
  padding: 0.625rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}
router-view {
  display: block;
  max-width: 36rem;
  margin: auto;
}

:root {
  --spacing: 0.25rem;
  --line-height: 1.25;
  --text-decoration: none;
}
.inline,
input.inline {
  display: inline-block;
  width: auto;
}
section {
  margin-bottom: 0.75rem;
}
article:not(dialog article) {
  padding: 1rem;
}
form {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing);
  --font-weight: 600;
  --font-size: 1rem;
  --typography-spacing-vertical: 1rem;
}
section:last-child {
  margin-bottom: 0px;
}
body {
  overscroll-behavior-y: contain;
}
