nav-bar footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: -1px;
  height: 4rem;
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  gap: 0.5rem;
}
nav-bar * {
  transition: all 0.2s;
}

.menu-bar-icon {
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  line-height: 1.25rem;
  font-size: 12px;
  font-weight: bold;
}
.menu-bar-icon-inactive {
  height: 1.5rem;
  opacity: 0.6;
}
nav-bar svg {
  --color: var(--contrast);
  height: 1.5rem;
  width: 1.5rem;
}
.menu-bar-icon-active feather-icon {
  transition: color 0s;
  background: var(--secondary);
  color: var(--primary-inverse);
  border-radius: 20px;
  padding: 4px 20px;
}
