.nav-bar {
  display: flex;
}

.menu-links {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.menu-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: white;
}

.menu-link-inactive {
  opacity: 0.6;
}

.night-mode-button {
  cursor: pointer;
}
