@tailwind base;
@tailwind components;
@tailwind utilities;
.flatpickr-month {
  @apply text-black bg-white shadow-none !important;
}
.flatpickr-calendar {
  @apply shadow-none;
}
.flatpickr-next-month, .flatpickr-prev-month {
  @apply text-black fill-current !important;
}
.flatpickr-day{
  height: 48px;
  line-height: revert;
}
.month-picker .flatpickr-innerContainer {
  display: none;
}

.month-picker .flatpickr-calendar {
  width: 100%;
}

.calendar-event {
  @apply bg-blue-500 w-3 h-1 absolute bottom-0.5 rounded-full left-3
}

input[type="text"], input[type="date"], select {
  @apply m-1 text-sm text-black bg-white w-28 ring-0;
}
option {
  @apply bg-white
}

button {
  @apply ring-0 shadow text-white mt-2 mb-2 min-w-max w-24 p-1 pl-3 pr-3 bg-green-500 hover:bg-green-600 border border-black disabled:filter disabled:grayscale
}
footer {
  @apply sticky bottom-0 p-3 bg-white border-t border-black;
}
body {
  @apply text-black bg-white;
}
ux-dialog{
  @apply bg-white border border-black;
}
ux-dialog-overlay.active{
  @apply bg-white opacity-80;
}
