@tailwind base;
@tailwind components;
@tailwind utilities;
.flatpickr-month {
  @apply text-black bg-white;
}
.month-picker .flatpickr-innerContainer {
  display: none;
}

.month-picker .flatpickr-calendar {
  width: 100%;
}

input[type="text"], input[type="date"], select {
  @apply m-1 text-sm text-black bg-white w-28 ring-0;
}
option {
  @apply bg-white
}

button {
  @apply ring-0 shadow text-white mt-2 mb-2 min-w-max w-24 p-1 pl-3 pr-3 bg-green-500 hover:bg-green-600 border border-black disabled:filter disabled:grayscale
}
footer {
  @apply sticky bottom-0 p-3 bg-white border-t border-black;
}
body {
  @apply bg-white text-black
}
ux-dialog{
  @apply bg-white border border-black
}
.event {
  position: absolute;
  width: 10px;
  height: 3px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 5px);
  content: "TODO - move to tailwind";
  display: block;
  background: #3d8eb9;
}
