@keyframes pulse {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
}
.entry-loading-activity-icon {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
  height: 4rem;
  border-radius: 0.125rem;
  opacity: 0.1;
  background-color: var(--color);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.text-line-loading {
  margin-bottom: 1rem;
  opacity: 0.1;
  background-color: var(--color);
  align-self: center;
  width: 91.666667%;
  height: 1rem;
  border-radius: 0.125rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.emoji-loading {
  display: inline-block;
  margin: 0.25rem;
  margin-left: auto;
  opacity: 0.1;
  background-color: var(--color);
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.width-4rem {
  width: 4rem;
}
.width-33 {
  width: 33%;
}
.width-66 {
  width: 66%;
}
.width-80 {
  width: 80%;
}
