.activity-drawer {
  overflow-x: auto;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0.25rem;
}
.drawer-activity {
  vertical-align: top;
  cursor: pointer;
}
.drawer-activity-loading {
  padding-bottom: 12px;
}
.note-preview {
  display: flex;
  overflow: auto;
  position: relative;
  padding: 0.75rem;
  vertical-align: middle;
  white-space: pre-line;
  place-content: center;
  max-height: 6rem;
}
.note-icon {
  position: sticky;
  top: 0;
  right: 0;
  height: fit-content;
}
.mood-icon {
  font-size: 1.875rem;
  line-height: 2.25rem;
  cursor: pointer;
}
.entry-editor-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.sticky-buttons {
  position: sticky;
  bottom: 4.2rem;
  left: 100vw;
  display: inline-flex;
  gap: 8px;
  margin-right: 8px;
  flex-flow: column;
}
.sticky-buttons button {
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  display: flex;
  place-content: center;
  align-items: center;
}
