.month-control {
  display: flex;
}
.next-prev-button {
  cursor: pointer;
}
.month-header-container {
  text-align: center;
  flex: 1 1 auto;
  align-self: center;
}
.month-header {
  display: inline-block;
  position: relative;
}
.streak-stats {
  position: absolute;
  margin-left: 12px;
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  filter: grayscale(1);
}
.streak-stats feather-icon {
  height: auto;
}
