.month-control {
  display: flex;
}
.next-prev-button {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  width: 4rem;
  cursor: pointer;
  user-select: none;
  filter: grayscale(1);
}
.month-header-container {
  text-align: center;
  flex: 1 1 auto;
  align-self: center;
}
.month-header {
  display: inline-block;
  position: relative;
}
.streak-stats {
  position: absolute;
  top: 0.125rem;
  left: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  width: 4rem;
  filter: grayscale(1);
}
